[submodule "3rdparty/caffe"]
	path = 3rdparty/caffe
	url = https://github.com/CMU-Perceptual-Computing-Lab/caffe.git
[submodule "3rdparty/openpose"]
	path = 3rdparty/openpose
	url = https://github.com/CMU-Perceptual-Computing-Lab/openpose
